<ion-header>
  <ion-toolbar>
    <ion-title>Fallas Motor</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario>
   
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Calibracion:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Carburador:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Valvulas:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Electrico:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Observaciones :</ion-label>
          <ion-input type="text"
                      name="marca roles"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row > 
      <ion-col> 
        <ion-button ion-button color="success">Guardar</ion-button> 
             
          <ion-button ion-button  color="danger">Cancelar</ion-button>
                 
      </ion-col>
    </ion-row>
    </form>
</ion-content>
