<ion-header>
  <ion-toolbar>
    <ion-title>Trabajos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button class="mc" expand="full" routerLink="./mantenimiento-completo" color="success">MANTENIMIENTO COMPLETO</ion-button>
<ion-button class="mc" expand="full" routerLink="./mantenimiento-preventivo" color="warning">MANTENIMIENTO PREVENTIVO</ion-button>
<ion-button class="mc" expand="full" routerLink="./fallas-motor"  color="dark"> FALLAS MOTOR</ion-button>
<ion-button class="mc" expand="full" routerLink="./reparacion-motor"  color="danger">REPARACION MOTOR</ion-button>
</ion-content>
