<ion-header>
  <ion-toolbar>
    <ion-title>Motor Completo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario>
   
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Biela:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Biela :</ion-label>
          <ion-input type="text"
                      name="marca biela"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Balineras Cigueñal:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Balineras :</ion-label>
          <ion-input type="text"
                      name="marca balineras cigueñal"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Balineras Motor:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Balineras  :</ion-label>
          <ion-input type="text"
                      name="marca balineras motor"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Discos closch :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Discos closch :</ion-label>
          <ion-input type="text"
                      name="marca discos closch"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Balancines :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Balancines :</ion-label>
          <ion-input type="text"
                      name="marca balancines"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Cilindro :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Cilindro :</ion-label>
          <ion-input type="text"
                      name="marca cilindro"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Retenes :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Retenes :</ion-label>
          <ion-input type="text"
                      name="marca retenes"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Valvulas :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Valvulas :</ion-label>
          <ion-input type="text"
                      name="marca valvulas"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Guias Cadenilla :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Guias  :</ion-label>
          <ion-input type="text"
                      name="marca guias cadenilla"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Cadenilla :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Cadenilla :</ion-label>
          <ion-input type="text"
                      name="marca cadenilla"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Empaques :</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Empaques :</ion-label>
          <ion-input type="text"
                      name="marca discos closch"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Observaciones :</ion-label>
          <ion-input type="text"
                      name="marca roles"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row > 
      <ion-col> 
        <ion-button ion-button color="success">Guardar</ion-button> 
             
          <ion-button ion-button  color="danger">Cancelar</ion-button>
                 
      </ion-col>
    </ion-row>
    </form>
</ion-content>
