<ion-header>
  <ion-toolbar>
    <ion-title>Completo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Cambio Aceite:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Aceite :</ion-label>
          <ion-input type="text"
                      name="marca aceite"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Kilometraje :</ion-label>
          <ion-input type="number"
                      name="kilometraje"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Filtro Aceite:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Filtro Aceite:</ion-label>
          <ion-input type="text"
                      name="marca filtro aceite"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Filtro Aire:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Filtro Aire :</ion-label>
          <ion-input type="text"
                      name="marca filtro aire"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Cambio Aceite:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Aceite Suspension:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Aceite Suspension :</ion-label>
          <ion-input type="text"
                      name="marca aceite suspencion"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Cunas:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca cunas :</ion-label>
          <ion-input type="text"
                      name="marca cunas"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Liquido Freno Delantero:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Liquido Freno :</ion-label>
          <ion-input type="text"
                      name="marca liquido freno"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Pastillas/Bandas Delanteras:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Pastillas/Bandas :</ion-label>
          <ion-input type="text"
                      name="marca pastillas/bandas"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Balineras Delanteras:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Balineras Delanteras :</ion-label>
          <ion-input type="text"
                      name="marca balineras delanteras"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Bujer Tijera:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Bujes Tijera :</ion-label>
          <ion-input type="text"
                      name="marca bujer tijera"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Pastillas/Bandas Traseras:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Pastillas/Bandas :</ion-label>
          <ion-input type="text"
                      name="marca pastillas/bandas"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Balineras Traseras:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Balineras Traseras :</ion-label>
          <ion-input type="text"
                      name="marca balineras traseras"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Liquido Freno Trasero:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Liquido Freno  :</ion-label>
          <ion-input type="text"
                      name="marca liquido freno"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Lubricacion Guayas:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Calibracion:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Valvulas:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Carburador:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Correa:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Correa :</ion-label>
          <ion-input type="text"
                      name="marca correa"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Roles:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Marca Roles :</ion-label>
          <ion-input type="text"
                      name="marca roles"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Engrase Automaticos:</ion-label>          
        </ion-item>
        <ion-item>
          <ion-label>SI :</ion-label>
          <ion-checkbox checked="true" ></ion-checkbox>
          <ion-label >NO:</ion-label>
          <ion-checkbox checked="false" ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Observaciones :</ion-label>
          <ion-input type="text"
                      name="marca roles"
                      ngModel></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row > 
      <ion-col> 
        <ion-button ion-button color="success">Guardar</ion-button> 
             
          <ion-button ion-button  color="danger">Cancelar</ion-button>
                 
      </ion-col>
    </ion-row>
    </form>
</ion-content>
